<div th:fragment="address">
    <div class="address-map-container">
        <div class="row d-flex justify-content-between align-items-start mb-3">
            <div class="col-md-6">
                <h4>Address Information</h4>
                <p>Please enter your address details in the fields below</p>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-end">
                <label for="showlocation" class="form-label mb-0 me-2">Show Location (Others will be able to see it)</label>
                <input type="checkbox" id="showlocation" name="showLocation" class="form-check-input" checked />
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="inputStreet" class="form-label">Street</label>
                <input type="text" class="form-control validate-address" id="inputStreet" name="street" required>
                <div class="invalid-feedback">Please enter a street.</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="inputNumber" class="form-label">Number</label>
                <input type="text" class="form-control validate-address" id="inputNumber" name="number" required>
                <div class="invalid-feedback">Please enter a number.</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control validate-address" id="inputCity" name="city" required>
                <div class="invalid-feedback">Please enter a city.</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="inputPostcode" class="form-label">Postcode</label>
                <input type="text" class="form-control validate-address" id="inputPostcode" name="postcode" required>
                <div class="invalid-feedback">Please enter a postcode.</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="inputCountry" class="form-label">Country</label>
            <select class="form-select validate-address" id="inputCountry" name="country" required>
                <option value="">Select a country</option>
            </select>
            <div class="invalid-feedback">Please select a country.</div>
        </div>

        <div class="mb-3">
            <div id="geocode-status" class="form-text"></div>
        </div>

        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">

        <div id="map" class="my-3" ></div>
    </div>
</div>
