<div th:fragment="authButtons">
    <!-- Expanded Navbar Layout  -->
    <div class="d-flex align-items-center gap-3 d-none d-lg-flex flex-nowrap ms-auto">
        <a id="username-expanded" class="fw-bold text-decoration-none" th:if="${username != null}" th:href="@{/user_dashboard}" th:text="${username}"></a>
        <a id="logout-expanded" th:if="${username != null}" href="/logout" class="btn btn-outline-danger">Logout</a>
        <a id="signup-expanded" th:if="${username == null}" href="/signup" class="btn btn-outline-success">Sign Up</a>
        <a id="login-expanded" th:if="${username == null}" href="/login" class="btn btn-outline-success">Login</a>
    </div>

    <!-- Offcanvas Layout (Burger Dropdown) -->
    <div class="d-flex flex-column align-items-center gap-3 w-100 d-lg-none">
        <a id="signup" th:if="${username == null}" href="/signup" class="btn btn-outline-success auth-buttons">Sign Up</a>
        <a id="login" th:if="${username == null}" href="/login" class="btn btn-outline-success auth-buttons">Login</a>
        <div th:if="${username != null}" class="user-info d-flex flex-column align-items-center w-100 text-center mt-3 mb-3">
            <a id="username" class="fw-bold navbar-nav nav-link nav-item" th:if="${username != null}" th:href="@{/user_dashboard}" th:text="${username}"></a>
            <a id="logout" href="/logout" class="btn btn-outline-danger auth-buttons mt-2">Logout</a>
        </div>
    </div>
</div>
