<header th:fragment="headerSection" class="container">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container align-items-center">
            <a class="navbar-brand" href="#">Sponsorando</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 no-wrap align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Discover Campaigns</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Collect Funds
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Register Campaign</a></li>
                                <li><a class="dropdown-item" href="#">Start Fundraising Event</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <a id="signup" href="/signup" class="btn btn-outline-success me-2" >Sign Up</a>
                        <a id="login" href="/login" class="btn btn-outline-success" >Login</a>
                        <a id="logout" href="/logout" style="visibility:hidden;" class="btn btn-outline-danger" >Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>