<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Us - Sponsorando</title>
        <div th:replace="~{fragments/_partial-head :: partialHead}"></div>
    </head>
    <body>
    <header th:replace="~{fragments/header/_conditional-header :: headerSectionConditional}" class="container mb-4"></header>
        <main>
            <div class="container mt-5">
                <h2 class="text-center">About Us</h2>
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footerSection}" role="contentinfo" class="footer"></footer>
    </body>
</html>
